@import 'resources'

*
  margin 0
  padding 0

  &:focus
  &:active
    outline 0

  &[invisibleUntil]
    visibility hidden

html
  scroll-behavior smooth

html
body
  width 100%
  height 100vh

body
  font-family font
  font-size 62.5%
  color text-color

a
  color inherit
  text-decoration none

  &.contrast-link
    color contrast-color

textarea
  font-family font
  color text-color
  border none

.clear
  clear both

main
  width 100%
  height 100vh
  flex-parent(row, nowrap, flex-start)

  .menu-bar
    flex-basis 30em - 7em
    height calc(100% - 3em)
    padding 3em 3.5em 0 3.5em
    background-color theme-color

    .site-title
      font-size 2.5em
      font-weight 700
      color contrast-text-color

    .pages-menu
      margin-top 7em
      list-style none

      .page-link
        margin-bottom .5em
        font-size 1.7em
        font-weight 400
        color rgba(contrast-text-color, .5)
        cursor pointer

        &.active-link
          color contrast-text-color


  .items-bar
    flex-basis 42em
    height 100%
    background-color contrast-color

    .roll-bar-header
      flex-parent(row, nowrap, space-between)
      align-items center
      width calc(100% - 6em)
      padding 1.9em 3em 1.3em 3em
      background-color contrast-color2

      #order-by
        font-size 1.6em
        font-weight 300
        cursor pointer

      #refresh
        flex-basis 2.3em
        height 2.3em
        cursor pointer

    .items-list
      width 100%
      height calc(100% - 5.5em)
      overflow-y auto
      background-color transparent
      fadeIn(2s)

      .list-item
        width calc(100% - 5em)
        padding 2.5em 2.5em 1em 2.5em
        border-bottom 1px solid contrast-color2
        cursor pointer

        &.selected-item
          background-color #fff
          cursor auto

        .item-description
        .item-status
          width 100%
          text-overflow ellipsis
          overflow hidden
          white-space nowrap

        .item-description
          font-size 1.55em
          font-weight 400
          margin-bottom .3em

        .item-status
          font-size 1.3em
          font-weight 700

          &.read
            font-weight 400
            &:after
              content 'lido'

          &.unread
            &:after
              content 'não lido'

          &.em-analise
            color theme-color

          &.cancelado
            color bad-color

          &.suspenso
            color warning-color

          &.entregue
            color good-color

          &.preparando-envio
            color #0055cc
          
          &.despachado
            color #cc0069

  .open-content
    width calc(100% - 45em - 12em)
    height calc(100% - 5em)
    padding 5em 6em 0 6em
    background-color #fff

    @media (max-width 1366px)
      width 75%

    .content
      width 60%
      height 100%
      overflow-y auto

      .content-title
        font-size 2.5em
        font-weight 900
        margin-bottom 1.2em
      
      .content-subtitle
        font-size 2em
        font-weight 400
        font-style italic
        margin-bottom .4em

      .content-detail
        font-size 1.5em
        font-weight 400
        margin-bottom 3.2em

      .content-body
        font-size 1.5em
        font-weight 300
        margin-top .12em
        line-height 1.55em

        &.distance-from-top
          margin-top 1.7em

      .subtitle
      .action-link
        font-size 1.5em
        font-weight 700
        margin 2.75em 0 2.25em 0

      .action-link
        color theme-color
        cursor pointer

      #response-text
        width calc(100% - 3em)
        height 10em
        padding 1.5em
        font-size 1.5em
        resize vertical
        border-radius(2em)
        background-color contrast-color2
        transition(.3s)
        margin-bottom 1.6em

        &:focus
          background-color contrast-color
      
      .status-boxes-wrapper
        width 80%
        flex-parent(row, wrap, flex-start)
        margin-bottom 1.6em

        .status-box
          margin-right 1em
          margin-bottom 1em
          padding .5em 2em .6em 2em
          font-size 1.5em
          font-weight 400
          border-radius(.8em)
          background-color contrast-color2
          cursor pointer

          &.selected-status
            color contrast-text-color
            cursor auto

          &:nth-child(1)
            &.selected-status
              background-color theme-color

          &:nth-child(2)
            &.selected-status
              background-color #0055cc

          &:nth-child(3)
            &.selected-status
              background-color #cc0069

          &:nth-child(4)
            &.selected-status
              background-color good-color

          &:nth-child(5)
            &.selected-status
              background-color warning-color

          &:nth-child(6)
            &.selected-status
              background-color bad-color

#mask
  width 100%
  height 100vh
  position fixed
  z-index 3
  top 0
  left 0
  flex-parent(row, wrap, center)
  align-items center
  display none
  background-color rgba(#000, .3)

  .message-box
    width 30em
    padding 2.5em
    text-align center
    border-radius(2em)
    background-color #fff

    .message
      font-size 1.5em
      font-weight 700
