amqp==2.5.0
asgiref==3.2.7
astroid==2.2.5
backports.csv==1.0.7
billiard==3.6.0.0
bleach==3.1.5
celery==4.3.0
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
defusedxml==0.6.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==3.0.7
django-allauth==0.40.0
django-cors-headers==3.1.1
django-filter==2.2.0
django-import-export==1.2.0
django-mysql==3.2.0
django-postgres-extensions==0.9.3
django-rest-auth==0.9.5
django-secure==1.0.1
django-sslserver==0.21
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
docutils==0.16
et-xmlfile==1.0.1
future==0.17.1
gunicorn==20.0.4
idna==2.8
importlib-metadata==0.18
isort==4.3.21
jdcal==1.4.1
jedi==0.13.3
jeepney==0.4.3
keyring==21.2.1
kombu==4.6.3
lazy-object-proxy==1.4.1
lets-debug==0.0.1
localflavor==1.8
Markdown==3.2.1
mccabe==0.6.1
numpy==1.17.2
oauthlib==3.1.0
odfpy==1.4.0
openpyxl==2.6.2
packaging==20.4
parso==0.5.0
Pillow==7.1.2
pkginfo==1.5.0.1
pluggy==0.12.0
protobuf==3.10.0
psycopg2==2.8.4
psycopg2-binary==2.8.3
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.0
pylint-django==2.0.12
pylint-plugin-utils==0.6
pyparsing==2.4.7
python-dateutil==2.8.0
python-decouple==3.3
python-jsonrpc-server==0.2.0
python-language-server==0.27.0
python3-openid==3.1.0
pytz==2019.3
PyYAML==5.1.2
readme-renderer==26.0
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
six==1.11.0
sqlparse==0.3.0
tablib==0.13.0
tqdm==4.46.1
twine==3.1.1
typed-ast==1.4.0
urllib3==1.25.6
vine==1.3.0
webencodings==0.5.1
whitenoise==5.1.0
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
zipp==0.5.2