@import './app/resources.styl'

*
  position relative
  margin 0
  padding 0
  selection-color(#fff, rgba(theme-color, .9))

  &:hover
  &:focus
    outline 0

html
  height 100vh
  scroll-behavior smooth

html
.main
  width 100%

.main
  height calc(100vh - 5.9em)
  padding-top 5.9em
  height auto
  overflow auto
  font-family font-family
  font-size 62.5%
  color text-color
  background-color #fff

.sub-title
  height auto
  padding 0
  font-size 2.2em
  font-weight 600

a
  text-decoration none
  color inherit

input
textarea
button
  border none
  font-family font-family
  font-size inherit
  color inherit
  box-shadow(none)
  outline 0
  background-color transparent

// DESKTOP

@media (max-width 1800px)
  .main
    font-size 62%

@media (max-width 1600px)
  .main
    font-size 60%

@media (max-width 1440px)
  .main
    font-size 57.5%

@media (max-width 1366px)
  .main
    font-size 55%

// MOBILE

@media (max-width 600px)
  .main
    height calc(100vh - 6em)

  .no-mobile
    display none !important

  .sub-title
    font-size 2em