<div class="main">
  <app-header></app-header>

  <div class="product-image-box">
    <img class="product-img" src="assets/img/wine-bottle.png" alt="Nome produto">
  </div>
  
  <div class="product-info-box">
    <div class="info-texts" *ngIf="product">

      <h1 class="pdct-name">{{ product.nome }}</h1>
    
      <p class="pdct-description">{{ product.descricao }}</p>
      
      <div class="price-and-quantity">
        <p class="price">R$ {{ product.oferta ? product.oferta.preco_oferta : product.preco }}</p>
        <p class="liquid-content">{{ product.mililitros }} ml</p>
        <div class="define-quantity">
          <span #downBtn class="add-or-remove" [class.disabled-btn]="quantityInCart < 1">-</span>
          <span class="quantity-to-add">{{ quantityInCart }}</span>
          <span #upBtn class="add-or-remove" [class.disabled-btn]="quantityInCart >= product.qntd_disponivel">+</span>
        </div>
      </div>

      <p class="cart-btn add-to-cart-btn" *ngIf="product.qntd_disponivel > 0" (click)="setCart()">Atualizar carrinho</p>
      <p class="cart-btn not-available" *ngIf="product.qntd_disponivel == 0">Indisponível no momento</p>

      <div class="details-box">
        <div class="detail">
          <p class="detail-name">Tipo</p>
          <p class="detail-content" title="{{ product.tipo }}">{{ product.tipo }}</p>
        </div>
        <div class="detail">
          <p class="detail-name">Cor</p>
          <p class="detail-content" title="{{ product.cor }}">{{ product.cor }}</p>
        </div>
        <div class="detail">
          <p class="detail-name">Doçura</p>
          <p class="detail-content" title="{{ product.docura }}">{{ product.docura }}</p>
        </div>
        <div class="detail">
          <p class="detail-name">Classe</p>
          <p class="detail-content" title="{{ product.classe }}">{{ product.classe }}</p>
        </div>
        <div class="detail">
          <p class="detail-name">Sabor</p>
          <p class="detail-content" title="{{ product.sabor }}">{{ product.sabor }}</p>
        </div>
        <div class="detail">
          <p class="detail-name">País</p>
          <p class="detail-content" title="{{ product.pais }}">{{ product.pais }}</p>
        </div>
        <div class="detail">
          <p class="detail-name">Região</p>
          <p class="detail-content" title="{{ product.regiao }}">{{ product.regiao }}</p>
        </div>
      </div>

    </div>
  </div>

</div>