<div class="main">
  <app-header></app-header>

  <div class="product-image-box">
    <img class="product-img" src="assets/img/wine-bottle.png" alt="Nome produto">
  </div>
  
  <div class="product-info-box">
    <div class="info-texts">

      <h1 class="pdct-name">Malbec LOUSHER 2020</h1>
    
      <p class="pdct-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
      
      <div class="price-and-quantity">
        <p class="price">R$ 49</p>
        <p class="liquid-content">700ml</p>
        <div class="define-quantity">
          <span class="add-or-remove disabled-btn">-</span>
          <span class="quantity-to-add">1</span>
          <span class="add-or-remove">+</span></div>
      </div>

      <p class="add-to-cart-btn">Adicionar ao carrinho</p>

      <div class="details-box">
        <div class="detail">
          <p class="detail-name">Tipo</p>
          <p class="detail-content">Vinho</p>
        </div>
        <div class="detail">
          <p class="detail-name">Cor</p>
          <p class="detail-content">Bordô</p>
        </div>
        <div class="detail">
          <p class="detail-name">Doçura</p>
          <p class="detail-content">Seco</p>
        </div>
        <div class="detail">
          <p class="detail-name">País</p>
          <p class="detail-content">Brasil</p>
        </div>
        <div class="detail">
          <p class="detail-name">Classe</p>
          <p class="detail-content">Malbec</p>
        </div>
        <div class="detail">
          <p class="detail-name">Sabor</p>
          <p class="detail-content">Suave</p>
        </div>
        <div class="detail">
          <p class="detail-name">Região</p>
          <p class="detail-content">Serra Gaúcha</p>
        </div>
      </div>
    
    </div>
  </div>

</div>