<div class="main">
  
  <app-header></app-header>
  <!--
  <div class="main-banner">
    <img class="banner-background parallax-image" src="/assets/img/food-banner.jpg" alt="Promoções do mês">
  </div>
  -->
  <app-slider></app-slider>

  <p class="sub-title  middle-page-topic">Que momento espera por você?</p>

  <div class="moments-wrapper">
    <div class="moment-item" [routerLink]="['list', 'presente']">
      <p class="moment-text">Presente</p>
    </div>
    <div class="moment-item" [routerLink]="['list', 'amigos']">
      <p class="moment-text">Amigos</p>
    </div>
    <div class="moment-item" [routerLink]="['list', 'reuniao']">
      <p class="moment-text">Reunião</p>
    </div>
  </div>

  <app-footer></app-footer>

</div>