<div class="main">
  <header class="purchase-header">
    <div class="logo">
      <img src="assets/icons/transparent-wine-glass.png" alt="Lousher" class="logo-img">
      <p class="logo-txt">Lousher</p>
    </div>
    <ul class="basic-menu">
      <li class="menu-list-item theme-color">{{ authService.user.username }}</li>
      <li class="menu-list-item">&#9679;</li>
      <li class="menu-list-item pointer-cursor" title="Sair (logout)" (click)="logout()">Sair</li>
    </ul>
  </header>
  
  <div class="order">

    <div class="configure-order-box">
      <ul class="progress-menu">
        <li class="proccess-part" [class.selected-item]="currentViewIndex === 0">Endereço</li>
        <li class="proccess-part" [class.selected-item]="currentViewIndex === 1">Revisar pedido</li>
        <li class="proccess-part" [class.selected-item]="currentViewIndex === 2">Finalizar</li>
      </ul>

      <div class="inner-view" #innerViews>
        <div class="current-step">
          <form [formGroup]="addressForm">
            <p class="label">Primeiro, vamos registrar o seu endereço.</p>
            <div class="inputs-wrapper">
              <input type="text" class="input special-input" id="uf" minlength="2" maxlength="2" placeholder="UF" required formControlName="uf">
              <input type="text" class="input" id="cidade" minlength="4" maxlength="28" placeholder="Cidade" required formControlName="cidade">
              <input type="text" class="input" id="bairro" minlength="1" maxlength="100" placeholder="Bairro (opcional)" formControlName="bairro">
              <input type="text" class="input" id="rua" minlength="1" maxlength="100" placeholder="Rua" required formControlName="rua">
              <input type="number" class="input" id="numero" min="1" placeholder="Número" required formControlName="numero">
              <input type="text" class="input" id="complemento" maxlength="100" placeholder="Complemento" formControlName="complemento">
              <input class="input" id="cep" pattern="\d{5}-\d{3}" minlength="9" maxlength="9" placeholder="CEP" required formControlName="cep">
            </div>

            <p class="label">Quem irá receber o pedido? Como podemos entrar em contato?</p>
            <div class="inputs-wrapper">
              <input type="text" class="input" id="nome-completo" minlength="5" maxlength="40" placeholder="Nome completo" required formControlName="nome_destinatario">
              <input type="text" class="input" id="telefone" minlength="10" maxlength="18" placeholder="Telefone" required formControlName="telefone">
            </div>
          </form>

          <p class="label">Há alguma informação que gostaria de deixar para ajudar na entrega? Sinta-se à vontade para escrever ;)</p>
          <div class="inputs-wrapper">
            <textarea
              class="input"
              id="personal-message"
              rows="4"
              placeholder="Sua mensagem aqui (opcional)"
              [ngModel]="sg"
              (ngModelChange)="setObservacoes($event)"></textarea>
          </div>
        
        </div>

        <div class="actions">
          <div class="action-btn back-button" [routerLink]="['/']">Voltar às compras</div>
          <div class="action-btn next-button" (click)="validateAndGoNext()" [class.active-button]="addressForm.valid">Continuar</div>
        </div>
      </div>

      <div class="inner-view" #innerViews>
        <div class="current-step">
          <p class="label">Ótimo! Se seu pedido for este mesmo, podemos seguir em frente:</p>
          <div class="cart-items-list">
            <div class="cart-item" *ngFor="let item of cartItems">
              <img class="product-img" src="assets/img/wine-bottle.png" alt="{{ item.produto.nome }}">

              <div class="about-cart-item">
                <p class="product-name">{{ item.produto.nome }}</p>
                <p class="product-price">R$ {{ item.produto.oferta ? item.produto.preco_oferta : item.produto.preco }}</p>
                <p class="items-in-cart">{{ item.qntd }} {{ item.qntd > 1 ? 'unidades' : 'unidade'}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="actions">
          <div class="action-btn back-button" (click)="previousView()">Voltar</div>
          <div class="action-btn next-button active-button" (click)="nextView()">Continuar</div>
        </div>
      </div>

    </div>
  
    <div class="about-order-items-box" *ngIf="currentItem">
      <div class="scale">
        <p class="measures">26 cm</p>
      </div>

      <div class="bottle-and-quantity">
        <img src="assets/img/wine-bottle.png" alt="Nome produto" class="bottle-img" title="{{ currentItem.produto.nome }}">
        <p class="quantity-in-cart"><span class="info-content">X {{ currentItem.qntd }}</span></p>
      </div>

      <div class="next-box">
        <p class="next-btn" (click)="itemIterator.next()">Próx.</p>
      </div>
    </div>
  </div>
</div>