<div class="main">
  <header class="purchase-header">
    <div class="logo">
      <img src="assets/icons/transparent-wine-glass.png" alt="Lousher" class="logo-img">
      <p class="logo-txt">Lousher</p>
    </div>
    <ul class="basic-menu">
      <li class="menu-list-item theme-color">{{ authService.user.username }}</li>
      <li class="menu-list-item">&#9679;</li>
      <li class="menu-list-item pointer-cursor" title="Sair (logout)" (click)="authService.logout()">Sair</li>
    </ul>
  </header>
  
</div>