@import '../resources.styl'

.main
  width 100%
  height 100vh
  padding 0

  .purchase-header
    width 86%
    height auto
    padding 1.5em 7% 1.5em 7%
    flex-parent(row, nowrap, space-between)
    align-items center
    background-color lighter-gray-color

    .logo
      flex-parent(row, nowrap, flex-start)
      align-items center

      .logo-img
        flex-basis 4em
        height 4em
        margin-right 1em

      .logo-txt
        font-size 1.7em
        font-style italic
        font-weight 800
        color theme-color
        text-transform uppercase
        text-shadow 0px 2px 16px rgba(0, 0, 0, .2)
    
    .basic-menu
      list-style none

      .menu-list-item
        margin-left 1.5em
        font-size 1.6em
        font-weight 600
        color #999
        float left

        &.theme-color
          color theme-color

        &.pointer-cursor
          cursor pointer
  
  .order
    width 86%
    height auto
    padding 7em 7% 2em 7%
    flex-parent(row, wrap, space-between)

    .configure-order-box
      flex-basis calc(90% - 45em)
      height auto

      .progress-menu
        list-style none
        flex-parent(row, wrap, flex-start)

        .proccess-part
          margin-right 2.5em
          padding .5em 0 .5em 0
          font-size 1.7em
          font-weight 600
          color #ccc
          cursor default
          select(none)

          &.selected-item
            color theme-color
            border-bottom .1em solid theme-color

      .inner-view
        width auto
        height auto
        display none
          
        .current-step
          width calc(100% - 5em)
          height auto
          font-size 1.55em
          margin-top 2.5em
          padding 2.5em
          box-shadow(0px 18px 30px -1px rgba(#333, .1))
          border-radius(2.5em)

          .label
            font-weight 700
            margin-bottom 1.7em

          // Adress

          .inputs-wrapper
            width 100%
            height auto
            margin-bottom 1.5em

            &:last-child
              margin-bottom 0

            .input
              margin-bottom 1em
              margin-right 1em
              padding .5em 1em .5em 1em
              font-weight 500
              box-shadow(0px 4px 16px -1px rgba(#333, .1))
              border-radius(.2em)

              &:last-child
                margin-bottom 0

              &.special-input
                font-weight 800
                background-color lighter-gray-color
                box-shadow(none)

              &#uf
                width 1.5em
                text-transform uppercase

              &#cidade
                width 12em
                text-transform capitalize

              &#bairro
                width 12em
                text-transform capitalize

              &#rua
                width 18em
                text-transform capitalize

              &#numero
                width 7em
              
              &#complemento
                width 16.5em

              &#cep
                width 8em

              &#nome-completo
                width 18em
              
              &#telefone
                width 12em
              
              &#personal-message
                width calc(96% - 2em)
                padding 1em
                border-radius(1.5em)
                resize none
        
          // Confirm order

          .cart-items-list
            padding-top 1.2em
            
            .cart-item
              flex-parent(row, wrap, flex-start)

              &:not(:last-child)
                margin-bottom 1.6em

              .product-img
                flex-basis auto
                height 7em
              
              .about-cart-item
                margin-left 3em
                flex-basis auto
                height 100%

                .product-name
                  font-size 1em
                  font-weight 700
                  color theme-color

                .product-price
                  font-size 1em
                  font-weight 500
                  margin-top .5em
                
                .items-in-cart
                  font-size 1em
                  font-weight 500
                  font-style italic
                  color gray-color
                  margin-top .5em
        
        .actions
          width 100%
          height auto
          margin-top 3.5em
          flex-parent(row, wrap, space-between)

          .action-btn
            font-size 1.65em
            font-weight 700
            padding .6em 2.5em .6em 2.5em
            border-radius(.75em)
            transition(.2s)

            &.back-button
              background-color lighter-gray-color
              color gray-color
              border .2em solid transparent
              cursor pointer

              &:hover
                color theme-color
                border-bottom-color theme-color

            &.next-button
              background-color #fff
              color gray-color
              border .2em solid gray-color
              cursor auto

              &.active-button
                border-color theme-color
                color theme-color
                cursor pointer

                &:hover
                  background-color theme-color
                  color #fff

    .about-order-items-box
      flex-basis 45em
      height 61em
      margin-top 5em
      flex-parent(row, nowrap, flex-start)

      .scale
        flex-basis 20%
        height 53em
        border .15em solid theme-color
        border-right none
        flex-parent(row, wrap, flex-end)
        align-items center

        .measures
          font-size 1.5em
          font-weight 600
          color theme-color
          text-align right

      .bottle-and-quantity
        flex-basis 60%
        height auto
        flex-parent(row, wrap, center)
        
        .bottle-img
          flex-basis auto
          height 53em
          filter(drop-shadow(6px 5px 30px rgba(#000, .11)))

        .quantity-in-cart
          margin-top 1.6em
          flex-basis 50%
          height 3em
          border-radius(2em)
          font-size 1.6em
          font-weight 900
          color #fff
          background-color theme-color
          flex-parent(row, wrap, center)
          align-items center
          box-shadow(0px 4px 8px 1px rgba(#000, .16))

          .info-content
            margin-top -.1em

      .next-box
        flex-basis 20%
        height 53em
        flex-parent(row, wrap, flex-start)
        align-items center

        .next-btn
          font-size 1.5em
          font-weight 700
          color theme-color
          cursor pointer