<!doctype html>
<html lang="pt-br">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Lousher | Vinhos, Sucos e Tradição</title>
  <meta name="description" content="E-commerce de vinhos fabricados no oeste gaúcho, feitos com muito amor por quem entende de vinho.">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Luiz Filipe da Silva">
  <meta name="reply-to" content="filipeluiz.bs@gmail.com">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <app-root></app-root>
  <script type="text/javascript" src="/static/runtime.js"></script>
  <script type="text/javascript" src="/static/es2015-polyfills.js" nomodule></script>
  <script type="text/javascript" src="/static/polyfills.js"></script>
  <script type="text/javascript" src="/static/styles.js"></script>
  <script type="text/javascript" src="/static/vendor.js"></script>
  <script type="text/javascript" src="/static/main.js"></script></body>
</html>
