{% extends 'base.html' %}
<!-- Title -->
{% block title %}Mensagens{% endblock %}
<!-- Menu -->
{% block menu %}
  <li class="page-link active-link">Mensagens</li>
  <li class="page-link"><a href="{% url 'gerenciar_pedidos' %}">Pedidos</a></li>
{% endblock %}
<!-- Open content -->
{% block core %}
  <div class="content">
    <h1 class="content-title" bind="nome"></h1>
    <h2 class="content-subtitle" bind="email"></h2>
    <h5 class="content-detail" bind="data_envio"></h5>
    <p class="content-body" bind="mensagem"></p>

    <p class="subtitle">Resposta</p>
    <textarea id="response-text" minlength="50"></textarea><br>
    <div class="clear"></div>
    <a class="action-link" id="send-mail">Enviar resposta</a>
  </div>
{% endblock %}