{% extends 'base.html' %}
<!-- Title -->
{% block title %}
  Pedidos
{% endblock %}
<!-- Menu -->
{% block menu %}
  <li class="page-link"><a href="{% url 'gerenciar_mensagens' %}">Mensagens</a></li>
  <li class="page-link active-link">Pedidos</li>
{% endblock %}
<!-- Open content -->
{% block core %}
  <div class="content">
    <h1 class="content-title">#<span bind="id"></span></h1>
    <h2 class="content-subtitle" bind="nome"></h2>
    <h5 class="content-detail" bind="data_pedido"></h5>

    <p class="content-body" bind="cidade"></p>
    <p class="content-body" bind="rua"></p>
    <p class="content-body" bind="bairro"></p>
    <p class="content-body" bind="destinatario"></p>
    <p class="content-body distance-from-top" bind="mensagem"></p>

    <p class="subtitle">Produtos</p>
    <div id="products-list-wrapper"></div>

    <p class="subtitle">Status</p>

    <div class="status-boxes-wrapper">
      <div class="status-box" bind="status">em análise</div>
      <div class="status-box" bind="status">preparando envio</div>
      <div class="status-box" bind="status">despachado</div>
      <div class="status-box" bind="status">entregue</div>
      <div class="status-box" bind="status">suspenso</div>
      <div class="status-box" bind="status">cancelado</div>
    </div>

    <a class="action-link" id="update-status-btn">Salvar novo status</a>
  </div>
{% endblock %}