<footer class="footer">

  <section class="footer-section no-mobile">
    <h2 class="section-title">Páginas</h2>
    <ul class="pages-list">
      <li class="page-in-list"><a routerLink="/list/merlot">Merlot</a></li>
      <li class="page-in-list"><a routerLink="/list/cabernet_suavignon">Cabernet Suavignon</a></li>
      <li class="page-in-list"><a routerLink="/list/pinot_noir">Pinot Noir</a></li>
      <li class="page-in-list"><a routerLink="/list/tannat">Tannat</a></li>
    </ul>
  </section>

  <section class="footer-section">
    <h2 class="section-title">Contato</h2>
    <form class="contact-form">
      <div class="default-inputs-wrapper">
        <input type="text" placeholder="Nome" class="input default" minlength="2" required><br>
        <input type="email" placeholder="Email" class="input default" required><br>
        <input type="text" placeholder="Assunto" class="input default" required>
      </div>
      <div class="message-input-wrapper">
        <textarea rows="5" placeholder="Mensagem" class="input message" required></textarea>
        <div class="submit-button">Enviar</div>
      </div>
    </form>
  </section>

  <section class="footer-section">
    <h2 class="section-title">Redes sociais</h2>
    <div class="social-buttons">
      <img class="social-icon" src="assets/icons/facebook.png">
      <img class="social-icon" src="assets/icons/instagram.png">
    </div>
  </section>

</footer>