@import '../resources.styl'

.footer
  width 86%
  margin-top 9em
  padding 7.6em 7% 5em 7%
  color #fff
  background-color theme-color
  flex-parent(row, wrap, space-between)
  
  @media (max-width 600px)
    margin-top 2em
    padding-top 1em

  .footer-section
    flex-basis auto
    margin-top 3em

    @media (max-width 600px)
      flex-basis 100%

    .section-title
      font-size 2.1em
      font-weight 700
      color #fff
      margin-bottom 1.2em
    
    .pages-list
      list-style none

      .page-in-list
        font-size 1.5em
        font-weight 600
        text-transform capitalize
        color #fff
        margin-bottom .5em

        &:hover
          text-decoration underline

    .contact-form
      flex-parent(row, wrap, flex-start)

      .default-inputs-wrapper
        flex-basis auto
        margin-right 2.4em

      .message-input-wrapper
        flex-basis auto

      .input
        margin-bottom 1.4em
        padding .7em 1.2em .7em 1.2em
        border-radius(5px)
        font-size 1.5em
        font-weight 500
        color gray-color
        background-color #fff
        box-shadow(0px 2px 20px 0px rgba(gray-color, .1))
        placeholder(rgba(gray-color, .55))

        &.default
          width 15em

        &.message
          width 22em
          resize none
          height 5.3em
          clear both

      .submit-wrapper
        width 100%
        height auto
        flex-parent(row, wrap, flex-end)

        @media (max-width 600px)
          justify-content flex-start

        .submit-button
          padding .7em 2em .7em 2em
          border-radius(25px)
          font-size 1.5em
          font-weight 600
          text-align center
          text-transform uppercase
          color #fff
          background-color rgba(#fff, .2)
          box-shadow(0px 2px 20px 0px rgba(gray-color, .1))
          transition(.2s)
          cursor pointer

          @media (max-width 600px)
            margin-left 0

          &:hover
            color theme-color
            background-color #fff

    .social-buttons
      flex-parent(row, wrap, flex-end)

      .social-icon
        margin-left 3em
        flex-basis auto
        height 2.9em
        cursor pointer

      @media (max-width 600px)
        justify-content flex-start

        .social-icon
          margin-left 0
          &:first-child
            margin-right 2em