// Fnord
@font-face
  font-family 'Fnord'
  src url('../../assets/fonts/Fnord-Twenty-Three/Fnord-Twenty-Three.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/Fnord-Twenty-Three/Fnord-Twenty-Three.otf')  format('opentype'), url('../../assets/fonts/Fnord-Twenty-Three/Fnord-Twenty-Three.woff') format('woff'), url('../../assets/fonts/Fnord-Twenty-Three/Fnord-Twenty-Three.ttf')  format('truetype'), url('../../assets/fonts/Fnord-Twenty-Three/Fnord-Twenty-Three.svg#Fnord-Twenty-Three') format('svg')
  font-weight normal
  font-style normal

// Fnord Italic

@font-face
  font-family 'Fnord'
  src url('../../assets/fonts/Fnord-Twenty-Three-Italic/Fnord-Twenty-ThreeItalic.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/Fnord-Twenty-Three-Italic/Fnord-Twenty-ThreeItalic.otf')  format('opentype'), url('../../assets/fonts/Fnord-Twenty-Three-Italic/Fnord-Twenty-ThreeItalic.woff') format('woff'), url('../../assets/fonts/Fnord-Twenty-Three-Italic/Fnord-Twenty-ThreeItalic.ttf')  format('truetype'), url('../../assets/fonts/Fnord-Twenty-Three-Italic/Fnord-Twenty-ThreeItalic.svg#Fnord-Twenty-ThreeItalic') format('svg');
  font-weight normal
  font-style italic