@import '../resources.styl'
@import '../fonts.styl'

.main-header
  position fixed
  z-index 3
  top 0
  left 0
  width 100%
  height 5.8em
  padding-bottom .1em
  background-color lighter-gray-color
  flex-parent(row, nowrap, flex-start)
  transition(.2s)

  &.shaded-header
    box-shadow(0px 2px 20px 0px rgba(0,0,0,0.11))

  @media (max-width 600px)
    width calc(100% - 6em)
    height 6em
    padding 0 3em 0 3em
    border-bottom 1px solid lighter-gray-color
    background-color #fff
    justify-content flex-end

    &.shaded-header
      box-shadow(none)

  // LOGO

  .site-title-box
    flex-basis 24em
    height 100%
    flex-parent(row, nowrap, center)

    /*
    .logo-img
      flex-basis 3em
      height 3em
      align-self center
      margin-left -.5em
      cursor pointer
    */
    .site-title
      flex-basis auto
      align-self center
      margin-top .05em
      // text
      font-family 'Fnord'
      font-size 2.1em
      font-weight normal
      color theme-color
      text-transform uppercase

    @media (max-width 600px)
      flex-basis auto
      margin-right auto

      .logo-img
        flex-basis 3.25em
        height 3.25em

      .site-title
        font-size 1.75em

  // WHITE BLOCKS

  .white-block
    flex-basis 1
    height 100%
    border-left 1px solid lighter-gray-color
    background-color #fff

    @media (max-width 960px)
      border none

    @media (max-width 600px)
      margin-left 2.5em

    &.home-block
      width 5.8em
      flex-parent(row, nowrap, center)
      cursor pointer

      .home-icon
        flex-basis 2.25em
        height 2.25em
        align-self center

    &.main-menu-block
      flex-parent(row, nowrap, center)
      align-items center
      
      @media (max-width 1280px)
        display none
      
      .main-menu
        flex-parent(row, nowrap, flex-start)
        align-items center
        padding 0 .5em 0 .5em
        list-style none

        .menu-item
          margin .2em 2em 0 2em
          font-size 1.6em
          text-align center

    &.access-button
      padding 0 3em 0 3em
      flex-parent(row, nowrap, center)
      cursor pointer

      @media (max-width 600px)
        padding 0
        border-radius 50%

      .search-icon
        flex-basis 2.5em
        height 2.5em
        align-self center
        cursor pointer

        @media (max-width 960px)
          display none

      .cart-icon
        flex-basis 2.5em
        height 2.5em
        align-self center

        @media (max-width 600px)
          flex-basis 3em
          height 3em

      .account-icon
        flex-basis 1.9em
        height 1.9em
        align-self center

        @media (max-width 600px)
          flex-basis 2.4em
          height 2.4em

      .access-name
        align-self center
        margin-top .2em
        margin-left 1.4em
        font-size 1.6em
        font-weight normal

        @media (max-width 600px)
          display none

      .search-input
        flex-grow 1
        align-self center
        padding .35em 0 .25em 0
        margin-top .2em
        margin-right 1.5em
        font-size 1.6em
        border-bottom 1px solid transparent
        box-sizing()
        transition(.2s)

        &:focus
          border-color #CCC

        @media (max-width 960px)
          display none

    &.grow-block
      flex-grow 1
    
    &.fixed-size
      @media (min-width 601px)
        width 12.45em

      .access-name
        one-line-text()