<div class="login-box" *ngIf="authService.toggleState$ | async">
  <div class="inner-box login-or-register" *ngIf="!authService.user">

    <p class="section-title theme-color">Entrar</p>

    <form class="form theme-form" #loginForm>
      <input #usernameLogin type="text" placeholder="Nome de usuário" class="text-input" required>
      <input #passwordLogin type="password" placeholder="Senha" class="text-input" required>
      <p *ngIf="errorWhenLoggingIn" class="form-message error-message">Algo está incorreto &#9888;</p>
      <p *ngIf="loadingLogin" class="form-message good-message">Processando...</p>
      <div class="button-wrapper bottom-distance">
        <input type="button" value="Continuar" class="submit-btn" (click)="login(usernameLogin.value, passwordLogin.value)"><br>
      </div>
    </form>

    <p class="section-title">Cadastrar</p>

    <form class="form" #registerForm>
      <input #username type="text" placeholder="Nome de usuário" class="text-input" required>
      <input #email type="email" placeholder="Email" class="text-input" required>
      <input #passwordOne type="password" placeholder="Senha" class="text-input" required>
      <input #passwordTwo type="password" placeholder="Repetir senha" class="text-input" required>
      <p *ngIf="errorWhenRegistering" class="form-error">Alguma informação está incorreta ou em branco &#9888;</p>
      <div class="button-wrapper">
        <input type="button" value="Continuar" class="submit-btn dark-color" (click)="signup(username.value, email.value, passwordOne.value, passwordTwo.value)"><br>
      </div>
    </form>

  </div>
  <div class="inner-box my-account" *ngIf="authService.user">

    <p class="section-title theme-color">Minha conta <span class="italic-text as-link" (click)="logout()"> Sair</span></p>

    <p class="sub-section-title">Informações de login</p>

    <p class="read-only-input">{{ authService.user.username }}</p>
    <p class="read-only-input">{{ authService.user.email }}</p>

    <p class="sub-section-title with-margin-top">Pedidos ({{ orders.length }})</p>

    <!-- LISTA DE PEDIDOS -->
    <div class="order-box" *ngFor="let order of orders">
      <div class="order-info">
        <p class="title">{{ order.description }}</p>
        <p class="simple-text">{{ order.receiverName }}</p>
        <p class="simple-text">{{ order.receiverAddress }}</p>
      </div>
      <p class="order-status"><span class="bolder">ID: </span>{{ order.id }} | <span class="bolder">Status: </span>{{ order.status }}</p>
    </div>

    <!-- NOTA INFORMATIVA (CASO HAJA PEDIDOS) -->
    <p class="informative-text" *ngIf="orders.length">Em caso de dúvidas, envie-nos um email (lousher@gmail.com) com o ID do seu pedido no assunto. Se for necessário trocar o endereço, informe-nos imediatamente, antes que o pedido seja despachado.</p>

    <!-- MENSAGEM DE ERRO -->
    <p class="informative-text" *ngIf="errorGettingOrders">Não foi possível verificar se você realizou pedidos recentemente. Se tiver feito e não conseguir visualizá-los aqui, entre em contato conosco pelo email lousher@gmail.com. Se puder informar o ID do seu pedido no assunto será mais fácil ajudar você ;)</p>

    <!-- NOTA INFORMATIVA (SEM PEDIDOS) -->
    <p class="informative-text" *ngIf="!orders.length && !errorGettingOrders">Quando você fizer um pedido ele aparecerá aqui.</p>
  
  </div>
</div>