@import '../resources.styl'

.cart
  position fixed
  z-index 2
  right 0
  top 5.9em
  width 31em
  height calc(100vh - 10.9em)
  overflow-y auto
  padding 5em 3em 3em 3em
  fadeIn(.2s)
  box-shadow(-3px 10px 30px 0px rgba(0,0,0,0.11))
  background-color #fff

  @media (max-width 600px)
    width calc(100% - 6em)
    height auto
    max-height calc(100vh - 12em)
    top 6em
    padding-top 4em
    border-radius(0 0 3.5em 3.5em)

  .cart-head
    width 100%
    height auto
    flex-parent(row, wrap, space-between)

    .cart-title
      align-self center
      font-size 1.8em
      font-weight 600

    .total-price
      padding .4em 1em .35em 1em
      font-size 1.6em
      font-weight 500
      color theme-color
      border-radius(.8em)
      background-color lighter-gray-color

  .no-items
    width 100%
    margin-top 2.5em
    font-size 1.3em
    font-weight 500
    color #BABABA
    text-align left

  .cart-list
    width 100%
    height auto
    margin-top 3em
    flex-parent(row, nowrap, center)

    .cart-item
      flex-basis 100%
      height auto
      flex-parent(row, nowrap, space-between)
      
      .item-img-box
        flex-basis 10em
        height 10em
        border-radius(50%)
        flex-parent(row, nowrap, center)
        background-color lighter-gray-color

        .item-img
          flex-basis auto
          align-self center
          height 82.5%
      
      .item-text-box
        min-width 0
        flex-basis calc(100% - 11.5em)
        align-self center
        height auto

        .cart-item-title
          font-size 1.6em
          font-weight 500
          one-line-text()
        
        .cart-item-price-and-quantity
          margin-top .35em
          font-size 1.5em
          color gray-color

        .cart-item-link
          margin-top .6em
          font-size 1.3em
          color theme-color

          a:hover
          span:hover
            cursor pointer
            text-decoration underline
    
  .continue-btn
    width 100%
    margin 0 auto
    margin-top 2em
    padding 1.25em 0 1.25em 0
    border-radius(1.4em)
    font-size 1.55em
    font-weight 900
    font-style italic
    text-transform uppercase
    text-align center
    color theme-color
    cursor pointer
    background-color lighter-gray-color
    transition(.5s)

    &:hover
      color lighter-gray-color
      background-color theme-color
      transition(.5s)
      box-shadow(0px 2px 30px -1px rgba(0,0,0,0.11))
      border-radius(2em)
      transition(1s)
      
      &:after
        content ' ⇢'