<!-- CART -->

<div class="cart" *ngIf="cartService.toggleState$ | async">

  <div class="cart-head">
    <p class="cart-title">Lista de compras</p>
    <p class="total-price">R$ {{ cartService.totalPrice || 0 }}</p>
  </div>

  <p class="no-items" *ngIf="!cartService.items.length && authService.user">Ainda não há ítens em seu carrinho</p>
  <p class="no-items" *ngIf="!authService.user">Faça login antes de adicionar produtos ao carrinho. Seus ítens ficarão disponíveis de qualquer dispostivo ;)</p>

  <div class="cart-list" *ngFor="let item of cartService.items">
    <div class="cart-item">

      <div class="item-img-box">
          <img src="static/assets/img/wine-bottle.png" alt="{{ item.produto.nome }}" class="item-img">
        </div>
        <div class="item-text-box">
          <p class="cart-item-title">{{ item.produto.nome }}</p>
          <p class="cart-item-price-and-quantity">{{ item.produto.oferta ? item.produto.preco_oferta : item.produto.preco }} x {{ item.qntd }}</p>
          <p class="cart-item-link"><a routerLink="/product/{{item.produto.id}}">Ver produto</a> | <span (click)="removeUnity(item.produto.id, item.qntd)">Remover unidade</span></p>
        </div>
      </div>

  </div>
  
  <p class="continue-btn" *ngIf="cartService.items.length" routerLink="/purchase">Prosseguir</p>

</div>