<!-- SLIDER -->

<div class="nav-slider-box">
  <p class="sub-title">Ofertas para você</p>
  <a class="see-section" routerLink="/list/offers">Ver tudo</a>
  <div class="order-by">
    <p class="order-by-pre-text">Ordenar por</p>
    <p class="order-by-box" #sortByBtn>Menor preço</p>
  </div>
</div>

<div class="slider-wrapper">

  <div *ngIf="loading" class="loading-wrapper">
    <img src="assets/icons/wine-bottle-icon.png" alt="Carregando ofertas" class="loading-icon">
  </div>
  
  <div #slider class="slider">

    <div *ngFor="let product of offers" class="item" routerLink="/product/{{ product.id }}">
      <div class="item-banner-wrapper">
        <p class="old-price">R$ {{ product.preco }}</p>
        <img src="assets/img/wine-bottle.png" alt="{{ product.nome }}" class="item-img">
        <p class="new-price">R$ {{ product.preco_oferta }}</p>
      </div>
      <p class="item-name">{{ product.nome }}</p>
      <p #vencimentos class="price-validity">{{ product.oferta.vencimento }}</p>
    </div>

  </div>

  <div class="gradient-slider-box left-box visible" (click)="navigate(false)" title="Ver ítens anteriores"></div>
  <div class="gradient-slider-box right-box visible" (click)="navigate(true)" title="Ver próximos ítens"></div>

</div>