@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
*:focus,
*:active {
  outline: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100vh;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}
a.contrast-link {
  color: #fafafa;
}
.menu-bar {
  flex-basis: 23em;
  height: calc(100% - 3em);
  padding: 3em 3.5em 0 3.5em;
  background-color: #0086cc;
}
.menu-bar .site-title {
  font-size: 2.5em;
  font-weight: 700;
  color: #fafafa;
}
.menu-bar .pages-menu {
  margin-top: 7em;
  list-style: none;
}
.menu-bar .pages-menu .page-link {
  margin-bottom: 0.5em;
  font-size: 1.7em;
  font-weight: 400;
  color: rgba(250,250,250,0.5);
  cursor: pointer;
}
.menu-bar .pages-menu .page-link.active-link {
  color: #fafafa;
}
.items-bar {
  flex-basis: 42em;
  height: 100%;
  background-color: #fafafa;
}
.items-bar .roll-bar-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 6em);
  padding: 1.9em 3em 1.3em 3em;
  background-color: #f0f0f0;
}
.items-bar .roll-bar-header #order-by {
  font-size: 1.6em;
  font-weight: 300;
  cursor: pointer;
}
.items-bar .roll-bar-header #refresh {
  flex-basis: 2.3em;
  height: 2.3em;
  cursor: pointer;
}
.items-bar .items-list {
  width: 100%;
  height: calc(100% - 5.5em);
  overflow-y: auto;
  background-color: transparent;
}
.items-bar .items-list .list-item {
  width: calc(100% - 5em);
  padding: 2.5em 2.5em 1em 2.5em;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
/* Internet Explorer */
/* Opera < 12.1 */
  -webkit-animation: fadein 2s /* Safari, Chrome and Opera > 12.1 */;
  -moz-animation: fadein 2s /* Firefox < 16 */;
  -ms-animation: fadein 2s /* Internet Explorer */;
  -o-animation: fadein 2s /* Opera < 12.1 */;
  animation: fadein 2s;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.items-bar .items-list .list-item.selected-item {
  background-color: #fff;
  cursor: auto;
}
.items-bar .items-list .list-item .item-description,
.items-bar .items-list .list-item .item-status {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.items-bar .items-list .list-item .item-description {
  font-size: 1.55em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.items-bar .items-list .list-item .item-status {
  font-size: 1.3em;
  font-weight: 700;
}
.items-bar .items-list .list-item .item-status.read {
  font-weight: 400;
}
.items-bar .items-list .list-item .item-status.read:after {
  content: 'lido';
}
.items-bar .items-list .list-item .item-status.unread:after {
  content: 'não lido';
}
.open-content {
  flex-grow: 1;
  height: 100%;
  background-color: #fff;
}
